doctype html 
html(lang="ja")
  head 
    meta(charset="UTF-8")
    title NN CHAT
  body 
   h1 NN CHAT 
   form(method="POST" action="/posts")
     div 
      textarea(name="content" coos=40 rows=4)
     div 
       button(type="submit") 送信